<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <label> Category Name:</label>
                <p><%= formData.name %></p>
                <label>Description:</label> <br />
                <p>
                    <%= formData.description %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <label>
                    Sub Category
                </label>
                <% if(typeof formData.subcategories !== 'undefined' && formData.subcategories.length > 0){ %>
                <% formData.subcategories.forEach(model => { %>
                <label> Category Name:</label>
                <p><%= model.subCatname %></p>
                <label>Description:</label> <br />
                <p>
                    <%= model.subCatdescription %>
                </p>
                <hr>
                <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>