<footer class="footer">
    <div class="container-fluid">
    </div>
</footer>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<script src="/js/validator.min.js"></script>
<script src="/js/form-validation.js"></script>
<script src="/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jsgrid.min.js"></script>
<script type="text/javascript" src="/js/gridjs.js"></script>
<script src="/js/summernote.min.js"></script>
<script type="text/javascript" src="/js/site.js"></script>
