<div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Sell ME
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
                <a href="/categories">
                    <i class="pe-7s-graph"></i>
                    <p>Categories</p>
                </a>
                <a href="/product">
                    <i class="pe-7s-graph"></i>
                    <p>Products</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>